<%= form_for(@sett) do |f| %>
  <table class='table'>
    <thead>
      <tr>
        <th>Hold Color</th>
        <th>Grade</th>
        <th>Wall</th>
        <th>Setters</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= f.fields_for :routes do |builder| %>
        <%= render 'route', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success'%>
    <%= link_to_add_row('Add Route', f, :routes, class: 'btn btn-primary chartUpdate') %>
  </div>
<% end %>