<div class = "card">
  <h5 class="card-header">Walls</h5>
  <div class="card-body">
    <table class = "table table-hover">
      <thead class = "thead-dark">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Edit</th>
        </tr>
      </thead>

      <% @gym.walls.each do |wall| %>
        <tr>
            <td><%= wall.name %></td>
            <td><%= wall.wall_type %></td>
            <td><%= link_to 'Edit', edit_wall_path(wall), class: "btn btn-success" %></td>
        </tr>
      <%end%>
    </table>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addWall" aria-expanded="false" aria-controls="collapseExample">
      <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
      </svg>
    </button>

    <div class="collapse" id="addWall">
      <div class="card card-body" >
        <h2>Add a wall:</h2>
        <%= form_with(model: [ @gym, @gym.walls.build ], local: true) do |form| %>
          <div class="form-row align-items-center">
            <div class="col-auto">
              <%= form.text_field :name, class: "form-control"%>
            </div>
            <div class="col-auto">
              <%= form.select(:wall_type, options_for_select([['Boulder', 'Boulder'], ['Wall', 'Wall'], ['Both', 'Both']], 'Both'), {}, { :class => 'form-control' })%>
            </div>
            <div class="col-auto">
              <%= form.submit :Submit , class: "btn btn-success"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>