<div class="container">
     <h1>
      <span> <%= @gym.name %> </span>

      <%= link_to 'Settings', edit_gym_path, class: "btn btn-success" if is_setter(@gym)%>
    </h1>

    <hr/>
</div>

<%= render 'routes' %>

<br></br>

<%= render 'todo' if is_setter(@gym) %>

<br></br>

<div class = "card">
  <h4 class="card-header">Gym stats</h4>
  <div class="card-body">
	<%= pie_chart @gym.routes.where("is_set = 1 or is_set = 2").group(:hold_color).count.transform_keys { |key| key = @gym.hold_colors.find(key).colorName}, colors: @gym.hold_colors.find(@gym.routes.group(:hold_color).count.keys).pluck(:color) %>

	<%= column_chart @gym.routes.where("is_set = 1 or is_set = 2").joins(:grade).merge(Grade.order(difficulty: :asc)).group(:grade_id).count.transform_keys { |key| key = Grade.find_by(id: key).label unless !Grade.find_by(id: key)}%>


  </div>
</div>

<%= link_to 'Back', companies_path, class: "btn btn-dark" %>