<div class = "card mt-3">
<%= form_for(@system) do |f| %>

  <div class="card-header">
    <div class="form-inline">
      <h3>System name: </h3>
      <td><%= f.text_field :name %></td>
    </div>
  </div>

  <div class="card-body">
    <table class='table'>
      <thead class = "thead-dark">
        <tr>
          <th></th>
          <th>Difficulty Index</th>
          <th>label</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id = "grades" class='fields'>
        <%= f.fields_for :grades, @system.grades.sort_by(&:difficulty) do |builder| %>
          <%= render 'grade', f: builder %>
        <% end %>
      </tbody>
    </table>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-success'%>
      <%= link_to_add_row('Add Grade', f, :grades, class: 'btn btn-primary')%>
    </div>
  </div>
<% end %>
</div>