<!DOCTYPE html>
<html>
  <head>
    <title>GetGrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar sticky-top navbar-dark bg-dark">
		<a class = "navbar-brand" href="#">GetGrip</a>
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger"  %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: "btn btn-success" %>  
    <% end %>
	</nav>

	<div class = "container-fluid">
    <br></br>
		<%= yield %>
	</div>
  </body>
</html>
